<div class="flex fixed h-full w-full place-content-center bg-opacity-0 top-0 left-0 z-40 bg-opacity-25 bg-black backdrop-blur-sm" (click)="closePrompt()">
  <div class="fixed w-[84%] mx-[8%] md:w-[70%] md:mx-[15%] lg:w-[50%] lg:mx-[25%] 2xl:w-[33.3333333%] 2xl:mx-[33.3333333%] rounded-lg top-1/3 z-50 backdrop-blur-sm bg-black/90 text-white border border-neutral-500" (click)="$event.stopPropagation()">
    <div class="p-4">
      <p class="font-extrabold">Select Schedule:</p>
      <div class="p-12" *ngIf="isLoading">
        <div class="m-auto bg-yellow-500 rounded-full animate-ping w-8 h-8"></div>
      </div>
      <div *ngIf="!isLoading">
        <p class="text-center text-slate-300" *ngIf="!(userSchedules.length > 0)">You don't have any schedules yet</p>
        <ul class="p-4 divide-y divide-neutral-500" *ngIf="userSchedules.length > 0">
          <li *ngFor="let schedule of userSchedules">
            <button class="text-slate-300 hover:text-white transition-all p-2 w-full text-left hover:bg-neutral-700/50 {{(selectedScheduleID.includes(schedule.firestoreID!)) ? 'bg-neutral-700/50' : ''}}" (click)="changeSelectedSchedule(schedule.firestoreID!)">{{schedule.name}}</button>
          </li>
        </ul>
        <button class="flex text-slate-300 hover:text-white transition-all" routerLink="/you">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg my-auto" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg>
          Add
        </button>
      </div>

    </div>
    <p class="text-center" *ngIf="errorMessage">{{errorMessage}}</p>
    <div class="mt-6 grid grid-cols-2 divide-x divide-neutral-500 border-t border-t-neutral-500">
      <button class="text-slate-300 hover:text-white transition-all p-4 rounded-bl-lg hover:bg-neutral-700/50" (click)="closePrompt()">Cancel</button>
      <button class="text-slate-300 hover:text-white transition-all p-4 rounded-br-lg hover:bg-neutral-700/50" (click)="addExerciseToSchedule()">Confirm</button>
    </div>
  </div>
</div>
