<div class="fixed w-[84%] mx-[8%] md:w-[70%] md:mx-[15%] lg:w-[50%] lg:mx-[25%] 2xl:w-[33.3333333%] 2xl:mx-[33.3333333%] rounded-lg top-1/3 z-50 backdrop-blur-sm bg-black/90 text-white border border-neutral-500">
  <div class="p-4">
    <p class="font-extrabold">Select Option:</p>
    <ul class="p-4 divide-y divide-neutral-500">
      <li>
        <button class="text-slate-300 hover:text-white transition-all p-2 w-full text-left">Option 1</button>
      </li>
      <li>
        <button class="text-slate-300 hover:text-white transition-all p-2 w-full text-left">Option 2</button>
      </li>
      <li>
        <button class="text-slate-300 hover:text-white transition-all p-2 w-full text-left">Option 2</button>
      </li>
    </ul>
    <button class="flex text-slate-300 hover:text-white transition-all">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg my-auto" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg>
      Add
    </button>
  </div>

  <div class="mt-6 grid grid-cols-2 divide-x divide-neutral-500 border-t border-t-neutral-500">
    <button class="text-slate-300 hover:text-white transition-all p-4 rounded-bl-lg hover:bg-neutral-700/50">Cancel</button>
    <button class="text-slate-300 hover:text-white transition-all p-4 rounded-br-lg hover:bg-neutral-700/50">Confirm</button>
  </div>
</div>
