<div *ngIf="loadingSchedules" class="flex fixed h-full w-full place-content-center bg-opacity-0 top-0 left-0">
  <div class="m-auto bg-yellow-500 rounded-full animate-ping w-16 h-16"></div>
</div>
<div *ngIf="!(loadingSchedules)">
  <div class="flex">
    <h1 class="text-4xl font-bold mr-auto">Schedules</h1>
    <button class="bg-black p-2 rounded-lg bottom-2 hover:bg-gray-800 transition-colors" (click)="showCreationPrompt = true">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg fill-white" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg>
    </button>
  </div>

  <div *ngIf="!(userSchedules.length > 0)" class="fixed top-1/2 inset-x-0 px-2 -translate-y-6">
    <p class="text-center font-light my-6">You can add schedules clicking on the button with an plus sign</p>
  </div>
  <div *ngIf="userSchedules.length > 0">
    <div class="text-white my-5 relative" *ngFor="let schedule of userSchedules">
      <div class="p-2 bg-gradient-to-r from-rose-500 to-yellow-500 rounded-t-lg ">

        <div class="flex">
          <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill my-auto min-w-[18px] min-h-[18px]">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
            </svg>
            <h2 class="text-2xl font-bold ml-2 break-all">{{schedule.name}}</h2>
          </div>

          <div class="ml-auto flex">
            <button class="md:text-slate-200 hover:text-white transition-colors  p-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pencil-fill">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
              </svg>
            </button>

            <button class="md:text-slate-200 hover:text-white transition-colors  p-2" (click)="deleteSchedulePrompt(schedule.firestoreID!)">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg>
            </button>
          </div>
        </div>

        <div class="font-bold flex gap-3 mt-3 w-fit flex-wrap justify-center md:justify-start">
          <div class="px-1.5 py-2 rounded-full font-mono bg-black text-white {{(schedule.days.includes('sun') ? 'outline outline-2' : '')}}">SUN</div>
          <div class="px-1.5 py-2 rounded-full font-mono bg-black text-white {{(schedule.days.includes('mon') ? 'outline outline-2' : '')}}">MON</div>
          <div class="px-1.5 py-2 rounded-full font-mono bg-black text-white {{(schedule.days.includes('tue') ? 'outline outline-2' : '')}}">TUE</div>
          <div class="px-1.5 py-2 rounded-full font-mono bg-black text-white {{(schedule.days.includes('wed') ? 'outline outline-2' : '')}}">WED</div>
          <div class="px-1.5 py-2 rounded-full font-mono bg-black text-white {{(schedule.days.includes('thu') ? 'outline outline-2' : '')}}">THU</div>
          <div class="px-1.5 py-2 rounded-full font-mono bg-black text-white {{(schedule.days.includes('fri') ? 'outline outline-2' : '')}}">FRI</div>
          <div class="px-1.5 py-2 rounded-full font-mono bg-black text-white {{(schedule.days.includes('sat') ? 'outline outline-2' : '')}}">SAT</div>
        </div>


      </div>

      <div class="p-2 rounded-b-lg border-x-2 border-b-2 text-black">
        <div *ngIf="!(schedule.exercises.length > 0)">
          <p class="text-center font-light">Go to the exercises pages to add exercises to this schedule</p>
        </div>
        <div *ngIf="schedule.exercises.length > 0">
          <ul>
            <li class="font-bold">Exercises:</li>
            <li *ngFor="let exercise of schedule.exercisesInfo">{{exercise.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-schedule-creation-prompt *ngIf="showCreationPrompt" (answer)="getCreationResponse($event)" [userSchedules]="userSchedules"></app-schedule-creation-prompt>
<app-confirmation-prompt *ngIf="showDeletionPrompt" (answer)="getDeletionResponse($event)" [message]="deletionMessage"></app-confirmation-prompt>
