<div class="relative transition-all hover:drop-shadow-2xl text-white my-5">
  <img src="./assets/CardImg.jpeg" alt="img" class="h-1/6 rounded-t-lg object-cover md:h-40 md:w-full">
  <div class="bg-gradient-to-r from-rose-500 to-yellow-500 min-h-[8.4rem] rounded-b-lg p-2">
    <h2 class="font-extrabold"> Puxador de Ferro ☠️</h2>
    <p>Ab vitae enim at quo nemo facere saepe. Consequuntur alias est. Ab vitae enim at quo nemo facere saepe. Consequuntur alias est.</p>
    <button class="bg-black p-2 rounded-lg mt-2 bottom-2 hover:bg-gray-800 transition-colors"> Add </button>
  </div>
</div>
