<div class="h-screen">
  <main class="relative h-screen bg-gradient-to-t lg:bg-gradient-to-l from-rose-500 via-yellow-500 to-transparent z-50">
    <h1 class="font-bold text-5xl md:text-6xl mx-auto lg:ml-auto lg:mr-32 pt-8 w-fit">Workout App</h1>
    <ul class="absolute inset-x-0 lg:mr-48 bottom-1/2 w-fit mx-auto">
      <li>
        <app-google-login></app-google-login>
      </li>
    </ul>
    <h2 class="absolute bottom-8 inset-x-0 font-bold text-center lg:text-end mx-auto lg:mr-32 w-fit">Workout App © 2023 <br><span class="font-light text-sm">No Rights Reserved</span></h2>
  </main>
  <img src="./assets/CardImg.jpeg" class="object-cover absolute top-0 h-2/3 w-screen lg:h-screen lg:w-2/3 z-0">
</div>
