<div class="flex fixed h-full w-full place-content-center top-0 left-0 z-10 bg-opacity-25 bg-black backdrop-blur-sm" (click)="closePrompt()">
  <div class="m-auto h-fit w-[84%] md:w-[70%] lg:w-[50%] 2xl:w-[33.3333333%] rounded-lg z-50 backdrop-blur-sm bg-black/90 text-white border border-neutral-500" (click)="$event.stopPropagation()">
    <div class="p-4">
      <p class="font-extrabold">{{message}}</p>
    </div>
    <div class="mt-6 grid grid-cols-2 divide-x divide-neutral-500 border-t border-t-neutral-500">
      <button class="text-slate-300 hover:text-white transition-all p-4 rounded-bl-lg hover:bg-neutral-700/50" (click)="closePrompt()">No</button>
      <button class="text-slate-300 hover:text-white transition-all p-4 rounded-br-lg hover:bg-neutral-700/50" (click)="confirm()">Yes</button>
    </div>
  </div>
</div>
