<div class="relative p-2">
  <div class="absolute inset-y-0 right-2 h-full w-1/6 bg-gradient-to-r from-transparent to-white pointer-events-none z-40 {{isHiddenClass}}" (window:resize)="onResize()"></div>

  <div class="flex gap-2 lg:gap-4 overflow-auto {{hasPaddingClass}}" #listContainer>

    <div class="flex relative text-white">
      <img src="./assets/pullIron.jpg" class="rounded-l-lg max-w-none max-h-40">
      <div class="bg-gradient-to-r from-pink-500 to-yellow-500 min-w-[12rem] min-h-[7rem] rounded-r-lg p-2">
        <h1 class="font-extrabold"> Puxador de Ferro ☠️</h1>
        <p>Il mejor pullador de iron del market, zie brabest.</p>
        <button class="bg-black p-2 rounded-lg absolute bottom-2 hover:bg-gray-800 transition-colors"> Add </button>
      </div>
    </div>

    <div class="flex relative text-white">
      <img src="./assets/pullIron.jpg" class="rounded-l-lg max-w-none max-h-40">
      <div class="bg-gradient-to-r from-pink-500 to-yellow-500 min-w-[12rem] min-h-[7rem] rounded-r-lg p-2">
        <h1 class="font-bold"> Puxador de Ferro ☠️</h1>
        <p>Il mejor pullador de iron del market, zie brabest.</p>
        <button class="bg-black p-2 rounded-lg absolute bottom-2 hover:bg-gray-800 transition-colors"> Add </button>
      </div>
    </div>

    <div class="flex relative text-white">
      <img src="./assets/pullIron.jpg" class="rounded-l-lg max-w-none max-h-40">
      <div class="bg-gradient-to-r from-pink-500 to-yellow-500 min-w-[12rem] min-h-[7rem] rounded-r-lg p-2">
        <h1 class="font-bold"> Puxador de Ferro ☠️</h1>
        <p>Il mejor pullador de iron del market, zie brabest.</p>
        <button class="bg-black p-2 rounded-lg absolute bottom-2 hover:bg-gray-800 transition-colors"> Add </button>
      </div>

    </div>

  </div>
</div>
